@font-face {
    font-family: 'TR-909';
    src: url('TR-909.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    font-family: "TR-909", "serif"
}

#drum-machine {

}

#display {
    height: 6vh;
    margin: 0 4em;
    background-color: lightgray;
}

#drum-pad-container {
    width: 390px;
    height: 380px;
    padding-top: 10%;
}

.drum-pad {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    margin-bottom: 0.3em;
}


.playing{
    background: pink;

}

button:active {
    background-color: coral;
}
